.vantagens-curso {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin: auto;
    justify-content: center;
    background-color: #133855;
}

.vantagens-curso h1 {
    display: flex;
    width: 100%;
    color: #e3e2e2;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: 100px;
}
.vantagens-content h3 {
    font-size: 18px;
}

.vantagens-content p {
    font-size: 15px;
}
.vantagens-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    max-width: 290px;
    height: 300px;
    padding: 5px;
    border-right: 1px solid #e3e2e2;
    margin-bottom: 50px;
}

.vantagens-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    background-color: #133855;
    align-items: center;
    margin-right: 20%;
}
.vantagens-content:last-child {
    border-right: none;
}

@media  (min-width: 801px) and (max-width: 1440px) {
    .vantagens-curso {
        padding: 0;
        justify-content: center;
    }

    .vantagens-content {
        padding: 10px;
        border: none;
    }

    .vantagens-curso h1 {
        width: 100%;
        margin-right: 10%;
        justify-content: center;
    }

    .vantagens-content p {
        font-size: 14px;
    }

    .vantagens-content h3 {
        margin: 0;
        font-size: 20px;
    }

    .vantagens-section {
        display: flex;
        flex-wrap: wrap;
        margin-right: 20%;
        justify-content: center;
        background-color: #133855;
        align-items: center;
    }

    .aboutus-section {
        width: 200px;
    }
}

@media  (max-width: 800px) {
    .vantagens-section {
        padding-bottom:50px;
    }
    .vantagens-content {
        padding: 10px;
        border: none;
        margin-bottom: 0;
    }
}