
.polo-item {
    background-color: #f5f5f5; 
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 70%; 
    margin-left: 160px;
    margin-bottom: 20px;
  }
  
  .polo-item.expanded {
    width: 70%; 
  }
  
  .polo-header {
    display: flex;
    justify-content: space-between;
    width: 100%; 
  }
  .polo-header h3 {
    margin-left: 40px;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
  }
  
  .plus-icon {
    font-size: 25px;
    margin-top: 12px;
  }
  
  .plus-icon:hover {
    color: rgb(204, 137, 37);
  }
  
  .polo-details {
    margin-top: 10px;
    width: 70%; 
    text-align: left;
    margin-left: 40px;
  }
  
  .polo-details p {
    margin: 0;
  }
  